---

---

<div class="w-1/2 h-full center rounded-b-2xl rounded-t-0 border-r shadow">
    <a href="/contact" aria-label="redirect to contact form" role="link" class="text-gradient text-center">Hire Me</a>
</div>
<div class="w-1/2 center">
    <a href="/contact" aria-label="redirect to contact form" role="link" class="rounded-3xl px-2 text-sm md:text-base py-1 bg-primary text-white relative">
        Say hello
        <span id="triangle-code" class="absolute -right-2 bottom-0"></span>
    </a>
</div>

<style>
  #triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-bottom : 15px solid var(--primary);
    border-right : 15px solid transparent;
    transform: rotate(15deg);
  }
</style>