---
import {Image} from "astro:assets";
import pwa from "../../../assets/img/pwa.svg";
---

<div class="flex flex-col absolute -top-7 md:-top-12 items-center gap-4 md:p-4">
    <Image src={pwa} alt="mobile svg illustration for pwa skill developpement" />
    <p>PWA developper</p>
</div>