---

---

<div class="h-1/2 rounded-2xl border absolute z-10 top-0 w-full p-2">
    <h3 class="text-gradient text-xl text-center">Backend</h3>
</div>
<div class="h-1/2 rounded-2xl border bg-white absolute z-20 bottom-0 -translate-y-1/2 w-full p-2">
    <h3 class="text-gradient text-xl text-center">API</h3>
</div>
<div class="h-1/2 rounded-2xl border bg-white z-30 text-center flex flex-col gap-2 p-2 shadow">
    <h3 class="text-gradient text-xl">Frontend</h3>
    <p>Multilayer architecture</p>
</div>