---
import {Image} from "astro:assets";
import cake from "../../assets/img/cake.png";
import '../../static/css/about.css';
import FloatingFramework from "./components/FloatingFramework.astro";
import StackBox from "./components/StackBox.astro";
import TitleTextBox from "./components/TitleTextBox.astro";
import PwaDevelopperBox from "./components/PwaDevelopperBox.astro";
import HireBox from "./components/HireBox.astro";
import SvgTextGradient from "./components/SvgTextGradient.astro";
---

<ul class="grid-cols-12 grid-rows-3 gap-8 2xl:gap-16 my-12 w-full xl:w-3/4 2xl:w-3/5 p-4 hidden lg:grid about-wrapper">
    <li class="box col-span-3 row-span-2 text-center glass z-10">
        <FloatingFramework />
    </li>
    <li class="box col-span-3 flex flex-col justify-end relative">
        <StackBox />
    </li>
    <li class="box col-span-3">
        <TitleTextBox title="2+" text="web developer years experience" />
    </li>
    <li class="col-span-3 grid grid-rows-5 gap-8">
        <div class="box row-span-2 flex items-center justify-between">
            <p class="flex-auto text-center">Best practice lover</p>
            <span class="border-2 shadow border-primary text-primary place-items-center rounded-full bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 16 16">
                    <rect width="36" height="36" fill="none" />
                    <path fill="currentColor" d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093l3.473-4.425z" />
                </svg>
            </span>
        </div>
        <div class="box row-span-3 p-2 flex flex-col items-center justify-center relative">
            <div class="flex gap-2 text-gradient items-center">
                <h2 class="text-lg">Always Updated</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 21 21" >
                    <rect width="21" height="21" fill="none" />
                    <path fill="none" stroke="url(#update-icon-gradient)" stroke-linecap="round" stroke-linejoin="round" d="m6.5 10.5l4 4.232l4-4.191m-4-7.041v11m-6 3h12" />
                    <title>SVG Gradients: Fill & Stroke</title>
                    <defs>
                        <linearGradient id="update-icon-gradient" x1="0%" x2="100%" y1="0%" y2="0%">
                            <stop offset="0%" stop-color="#A83BCFB3" />
                            <stop offset="85%" stop-color="#E44949B3" />
                            <stop offset="100%" stop-color="#F8C291B3" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span class="absolute -top-3 right-0 min-w-7 shadow p-1 px-2 text-center text-sm rounded-full bg-red-500 text-white z-10">2</span>
        </div>
    </li>
    <li class="box row-span-1 col-span-6 text-center about-box justify-center items-center flex">
        <h2 class="text-white alatsi-regular text-5xl">About me</h2>
    </li>
    <li class="col-span-3 grid gap-4">
        <div class="grid grid-cols-2 gap-8">
            <div class="box text-center relative flex flex-col items-center overflow-hidden p-2">
                <p class="text-sm">27 years old</p>
                <Image src={cake} alt="ios birthday cake emoji with strawberry and candles" class="cake-img absolute -bottom-5" />
            </div>
            <div class="box grid grid-cols-3 overflow-hidden">
                <span class="bg-blue-700 h-full col-span-1"></span>
                <span class="bg-white h-full col-span-1"></span>
                <span class="bg-red-700 h-full col-span-1"></span>
            </div>
        </div>
        <div class="box text-center flex">
            <HireBox />
        </div>
    </li>
    <li class="box text-center col-span-3">
        <TitleTextBox title="3+" text="Bachelor’s degree" />
    </li>
    <li class="box text-center col-span-2 center gap-2 flex-col justify-center items-center overflow-hidden relative">
        <PwaDevelopperBox />
    </li>
    <li class="col-span-4 grid grid-rows-6 gap-6">
        <div class="grid grid-cols-5 row-span-4 gap-8">
            <div class="box text-center flex flex-col col-span-2 p-2 items-center overflow-hidden relative">
                <p class="text-sm mt-1">Video games enthusiast</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" viewBox="0 0 24 24" class="text-primary absolute -bottom-8">
                    <rect width="24" height="24" fill="none" />
                    <path fill="currentColor" d="M7.97 16L5 19c-.33.3-.77.5-1.25.5A1.75 1.75 0 0 1 2 17.75v-.25l1-7.38A4.524 4.524 0 0 1 7.5 6h9c2.36 0 4.29 1.81 4.5 4.12l1 7.38v.25a1.75 1.75 0 0 1-1.75 1.75c-.48 0-.92-.2-1.25-.5l-2.97-3zM7 8v2H5v1h2v2h1v-2h2v-1H8V8zm9.5 0a.75.75 0 0 0-.75.75a.75.75 0 0 0 .75.75a.75.75 0 0 0 .75-.75a.75.75 0 0 0-.75-.75m-1.75 1.75a.75.75 0 0 0-.75.75a.75.75 0 0 0 .75.75a.75.75 0 0 0 .75-.75a.75.75 0 0 0-.75-.75m3.5 0a.75.75 0 0 0-.75.75a.75.75 0 0 0 .75.75a.75.75 0 0 0 .75-.75a.75.75 0 0 0-.75-.75M16.5 11.5a.75.75 0 0 0-.75.75a.75.75 0 0 0 .75.75a.75.75 0 0 0 .75-.75a.75.75 0 0 0-.75-.75" />
                </svg>
            </div>
            <div class="box text-center col-span-3 flex justify-center items-center p-2">
                <SvgTextGradient gradientId="certification-desktop-gradient" />
            </div>
        </div>
        <div class="box text-center row-start-5 row-span-2 center gap-2">
            <p>Learn, improve, implement & repeat</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <path fill="currentColor" class="text-primary" d="M12 4c2.59 0 4.894 1.23 6.357 3.143L16 9.5h6v-6l-2.219 2.219A9.98 9.98 0 0 0 12 2C6.477 2 2 6.477 2 12h2a8 8 0 0 1 8-8m8 8a8 8 0 0 1-14.357 4.857L8 14.5H2v6l2.219-2.219A9.98 9.98 0 0 0 12 22c5.523 0 10-4.477 10-10z" />
            </svg>
        </div>
    </li>
    <li class="box text-center col-span-3">
        <TitleTextBox title="UX/UI" text="User experience & interface first" titleFontSize="text-4xl md:text-5xl" />
    </li>
</ul>

<style>
  .cake-img {
    width: 4rem;
  }

  .about-wrapper {
    height: 600px;
  }
</style>
