---
import {Image} from "astro:assets";
import pwa from "../../assets/img/pwa.svg";
import '../../static/css/about.css';
import FloatingFramework from "./components/FloatingFramework.astro";
import TitleTextBox from "./components/TitleTextBox.astro";
import PwaDevelopperBox from "./components/PwaDevelopperBox.astro";
import HireBox from "./components/HireBox.astro";
import SvgTextGradient from "./components/SvgTextGradient.astro";
---

<ul class="grid grid-cols-4 gap-4 lg:hidden">
    <li class="box glass center col-span-2 row-span-4 grid grid-cols-2 grid-rows-4 gap-4 z-10">
        <FloatingFramework />
    </li>
    <li class="box center col-span-2 row-span-2 overflow-hidden relative half-box">
        <PwaDevelopperBox />
    </li>
    <li class="box center col-span-2 row-span-2 half-box">
        <TitleTextBox title="2+" text="web developer years experience" />
    </li>
    <li class="grid grid-cols-4 about-box box center col-span-4 row-span-2 half-box">
        <h2 class="text-white alatsi-regular text-5xl">About me</h2>
    </li>
    <li class="box center col-span-2 row-span-2">
        <TitleTextBox title="3+" text="Bachelor’s degree" />
    </li>
    <li class="box center col-span-2 row-span-1 overflow-hidden quarter-box">
        <HireBox />
    </li>
    <li class="box col-span-2 row-span-2 center">
        <TitleTextBox title="UX/UI" text="User experience & interface first" titleFontSize="text-4xl md:text-6xl" />
    </li>
    <li class="box col-span-2 row-span-1 center flex p-2">
        <SvgTextGradient gradientId="certification-mobile-gradient" />
    </li>
    <li class="box col-span-4 flex items-center justify-center gap-6 p-2 px-4">
        <p>Learn, improve, implement & repeat</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <rect width="24" height="24" fill="none" />
            <path fill="currentColor" class="text-primary" d="M12 4c2.59 0 4.894 1.23 6.357 3.143L16 9.5h6v-6l-2.219 2.219A9.98 9.98 0 0 0 12 2C6.477 2 2 6.477 2 12h2a8 8 0 0 1 8-8m8 8a8 8 0 0 1-14.357 4.857L8 14.5H2v6l2.219-2.219A9.98 9.98 0 0 0 12 22c5.523 0 10-4.477 10-10z" />
        </svg>
    </li>
</ul>

<style>
  .half-box {
    height: 125px;
  }

  .quarter-box {
    height: 63px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

