---
import Layout from '../layouts/Layout.astro';
import BottomNavBar from "../components/nav/BottomNavBar.astro";
import HeaderContent from "../components/header/HeaderContent.astro";
import AboutContent from "../components/about/AboutContent.astro";
import ProjectContent from "../components/project/ProjectContent.astro";
import EngagementContent from "../components/engagement/EngagementContent.astro";
import FooterContent from "../components/footer/FooterContent.astro";

const metaDescription = "Passionate web developer with expertise in modern technologies, " +
	"dedicated to delivering high-quality projects. At 27 years old, I bring motivation, curiosity, " +
	"and a strong foundation in web development to every challenge. Constantly learning and improving, " +
	"I strive for excellence in the ever-evolving tech industry."
---

<Layout title="Pinier Nicolas web developper" metaDescription={metaDescription}>
	<BottomNavBar />
	<header id="home" class="flex flex-col min-h-dvh w-full">
		<HeaderContent />
	</header>
	<main>
		<section class="min-h-dvh p-8 flex justify-evenly items-center flex-col gap-8 bg-primary-50 m-auto" id="about">
			<AboutContent />
		</section>
		<section id="work" class="min-h-dvh p-8 flex flex-col gap-20 items-center">
			<ProjectContent />
		</section>
		<section id="engagements"  class="p-8 bg-primary-50 flex flex-col gap-8 pb-24 justify-center items-center">
			<EngagementContent />
		</section>
	</main>
	<footer id="contact" class="p-8 flex flex-col gap-12 mt-36 justify-center items-center">
		<FooterContent />
	</footer>
</Layout>
