---
const { label, outlined } = Astro.props;
---
<button type="button" class=`rounded-xl py-2 px-6 ${outlined ? 'border border-primary text-primary' : 'bg-primary text-white'}` title={label} >
    { label }
</button>


