---

---
<ul class="flex gap-8 items-center">
    <li>
        <a href="https://www.linkedin.com/in/nicolas-pinier/" role="link" aria-label="Pinier Nicolas Linkedin account">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <path fill="currentColor" d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037c-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85c3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.06 2.06 0 0 1-2.063-2.065a2.064 2.064 0 1 1 2.063 2.065m1.782 13.019H3.555V9h3.564zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0z" />
            </svg>
        </a>
    </li>
    <li>
        <a href="https://github.com/NicolasPi-maker" role="link" aria-label="Pinier Nicolas github account">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                <rect width="16" height="16" fill="none" />
                <path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
            </svg>
        </a>
    </li>
    <li>
        <a href="https://www.malt.fr/" role="link" aria-label="check my account on malt platform">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
                <rect width="24" height="24" fill="none" />
                <path fill="currentColor" d="M20.195 8.581c-.069 0-.285.026-.484.113c-.432.181-.597.311-.597.58v5.023c0 .277.26.355.735.355c.467 0 .649-.087.649-.355V8.858c0-.173-.113-.277-.303-.277m3.502 4.903c-.345.087-.45.113-.57.113c-.147 0-.2-.044-.2-.2v-2.161h.788c.207 0 .285-.078.285-.285c0-.173-.078-.26-.285-.26h-.787v-.839c0-.259-.087-.363-.268-.363c-.173 0-.415.156-.934.597c-.528.45-.83.744-.83.951c0 .121.086.199.224.199h.424v2.335c0 .683.337 1.08.925 1.08c.39 0 .675-.146 1.012-.406c.311-.242.51-.432.51-.596c0-.139-.103-.217-.294-.165m-15.21-3.078c-.13 0-.285.026-.484.112c-.433.19-.597.312-.597.58v3.2c0 .276.26.354.735.354c.467 0 .649-.087.649-.355v-3.614c0-.173-.113-.277-.303-.277m1.816 0c-.355 0-.675.121-.986.363c-.173.138-.32.294-.32.424c0 .112.078.173.19.173c.19 0 .251-.078.416-.078s.25.173.25.476v2.533c0 .277.26.355.735.355c.467 0 .649-.087.649-.355v-2.776c0-.657-.39-1.115-.934-1.115m2.43 0c-.337 0-.692.121-1.003.363c-.173.138-.32.294-.32.424c0 .112.078.173.19.173c.19 0 .25-.078.432-.078s.268.173.268.476v2.533c0 .277.26.355.735.355c.467 0 .649-.087.649-.355v-2.776c0-.657-.39-1.115-.951-1.115m5.335 0a1.3 1.3 0 0 0-.484.112c-.26.113-.398.2-.467.312c-.26-.303-.597-.398-.977-.398c-1.116 0-1.911.942-1.911 2.283c0 1.124.605 1.954 1.461 1.954c.26 0 .493-.104.77-.363c.216-.2.32-.329.32-.45a.14.14 0 0 0-.147-.147c-.121 0-.251.104-.416.104c-.354 0-.596-.545-.596-1.35c0-.803.32-1.348.804-1.348c.32 0 .562.242.562.657v2.525c0 .277.26.355.735.355c.467 0 .649-.087.649-.355v-3.614c0-.173-.113-.277-.303-.277M3.499 13.563l-.21.21l.619.618c.304.304.79.598 1.244.144c.339-.34.26-.695.073-.98c-.06.004-1.726.008-1.726.008m-.963-2.325l.21-.21l-.608-.607c-.304-.303-.765-.621-1.243-.143c-.351.35-.273.692-.087.97Zm2.86.416a384 384 0 0 1-1.511 1.524h1.154c.43 0 .981-.101.981-.777c0-.496-.296-.683-.624-.747m-3.244-.031H.981c-.43 0-.981.135-.981.778c0 .479.307.676.641.745c.04-.046 1.511-1.523 1.511-1.523m1.484 3.04l-.618-.618l-.608.607a3 3 0 0 1-.137.128c.07.333.266.639.745.639s.676-.307.745-.641q-.064-.054-.127-.115M2.41 10.15l.608.607l.618-.618a2 2 0 0 1 .128-.118c-.065-.327-.251-.623-.747-.623s-.682.297-.746.625q.068.058.14.127zm2.742.117c-.455-.454-.94-.16-1.244.144l-2.87 2.87c-.303.303-.621.765-.143 1.243s.94.16 1.243-.143l2.87-2.87c.304-.304.598-.79.144-1.244" />
            </svg>
        </a>
    </li>
    <li>
        <a href="mailto:pinier74nicolas@gmail.com" role="link" aria-label="send me an email">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 512 512">
                <rect width="512" height="512" fill="none" />
                <rect width="416" height="320" x="48" y="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="36" rx="40" ry="40" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="36" d="m112 160l144 112l144-112" />
            </svg>
        </a>
    </li>
</ul>