---
import BottomNavBar from "../components/nav/BottomNavBar.astro";
import DesktopNavBar from "../components/nav/DesktopNavBar.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
const metaDescription = "Passionate web developer with expertise in modern technologies, " +
	"dedicated to delivering high-quality projects. At 27 years old, I bring motivation, curiosity, " +
	"and a strong foundation in web development to every challenge. Constantly learning and improving, " +
	"I strive for excellence in the ever-evolving tech industry."
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={metaDescription} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto:wght@400;700&display=swap" rel="stylesheet"></noscript>
	</head>
	<body class="min-h-dvh flex flex-col md:items-center">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--primary : #4c3bcf;
		--primary-50: #eef1ff;
		--primary-gradient: linear-gradient(to right, rgba(168, 59, 207, 0.7), rgba(228, 73, 73, 0.7), rgba(249, 168, 212, 0.7), rgba(248, 194, 145, 0.7));
		--text-default: #4d4d4d;
	}

	html {
		font-family: Roboto, sans-serif;
		color: var(--text-default);
		scroll-behavior: smooth;
	}

	code {
		font-family:
			Roboto
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.alatsi-regular {
		font-family: "Alatsi", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.roboto-regular {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.roboto-bold {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.text-gradient {
		background-image: var(--primary-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-grow {
		flex-grow: 1;
	}

	.box {
		background-color: white;
		box-shadow: rgba(99, 99, 99, 0.2) 0 2px 4px 0;
		border-radius: 16px;
		border: none;
	}
</style>
